<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор Пользователей</title>
</head>
<body>
<!--/*@thymesVar id="hat" type="java.lang.String"*/-->
<h2 th:utext="${hat}"></h2>

<div>
    <!--/*@thymesVar id="userList" type="java.util.List"*/-->
    <th:block th:each="user : ${userList}">
        <!--/*@thymesVar id="user" type="io.github.archmagefil.crudwebapp.model.User"*/-->
        <h3 th:text="${user}"></h3>
    </th:block>
</div>
</body>
</html>