<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор Пользователей - Приветствие</title>
    <link rel="stylesheet" type="text/css" href="/resources/crud.css">
</head>
<body>
<p>
<h2>Привет, хозяин.</h2>
<form class="add-form" method="get" action="/crud/">
    <input class="add-button" type="submit" value="Редактировать БД">
</form>
<p>
<form class="add-form" method="post" action="/">
    <button class="add-button" type="submit">Сгенерировать БД</button>
</form>
<p>
<form class="add-form" th:method="DELETE" method="post" action="/">
    <button class="add-button" type="submit">Очистить БД</button>
</form>
<h3 th:text="${result}"></h3>
</body>
</html>