<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="resources/newcss.css">
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <h4><a th:href="@{/logout}" th:text="логаут">выйти из сумрака</a></h4>
</div>
<h2> Заглавная страница сайта</h2>
<p><a href="/user.html" th:href="@{/user}">Страница пользователя</a></p>
<p><a href="/admin/index.html" th:href="@{/admin/}">Страница администратора</a></p>

</body>
</html>