<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор Пользователей - Приветствие</title>
</head>
<body>
<p>
<h2>Привет, хозяин.</h2>
<form method="get" action="/crud">
    <input type="submit" value="Редактировать БД">
</form>
<p>
<form method="post" action="/">
    <input type="submit" value="Очистить БД">
    <h3 th:text="${result}"></h3>
</form>
</body>
</html>