<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>авторизация пользователя</title>
    <link rel="stylesheet" type="text/css" href="resources/newcss.css">
</head>
<body class="body-form">

<p>
<div th:if="${bad_credentials} != null">
<span class="red-text" th:text="'Неверный логин'"></span>
</div>
</p>

<form th:method="POST" th:action="@{/login}">
    <fieldset>
        <p align="center">Логин:</p>
        <input type="email" name="j_username" value="электронная почта"/>
        <p align="center">Пароль</p>
        <input type="password" name="j_password" value="">
        <p></p>
        <input class="button-submit" type="submit" value="Авторизоваться" />
    </fieldset>
</form>

<p>
    <a href="home.html" th:href="@{/}">На главную</a>
</p>

</body>

</body>
</html>