<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор Пользователей</title>
    <link rel="stylesheet" type="text/css" href="/resources/crud.css">
    <script>
        window.onscroll = function () {
            let scrolled = window.pageYOffset || document.documentElement.scrollTop;
            document.getElementById('element_B').style.position = scrolled > 100 ? 'fixed' : 'inherit';
        }
    </script>
</head>
<body>
<div class="element_A">
    <h2>Редактор Пользователей</h2>
    <h3 th:text="${result}"></h3>
</div>
<div id='element_B' class='element_B'>

    <form class="add-form" th:method="POST" th:action="@{/admin/}" th:object="${user}">
        <div class="add-line">
            <label>Имя:&nbsp;</label>
            <p><input type="text" th:field="*{name}"/>
                <input hidden type="number" th:field="*{id}" th:value="null">
                <input hidden type="checkbox" th:field="*{goodAcc}"/>
        </div>
        <div class="add-line">
            <label>Фамилия</label>
            <p><input type="text" th:field="*{surname}"/>
        </div>
        <div class="add-line">
            <label>Эл. почта*</label>
            <p><input type="email" th:field="*{email}" value="xx@x.x">
        </div>
        <div class="add-line">
            <label>Пароль</label>
            <p><input type="text" th:field="*{password}"/>
        </div>
        <div class="add-line">
            <label>Роль</label>
            <select th:field="*{roles}">
                <option th:each="role : ${roles}"
                        th:value="${role}"
                        th:text="${role.role}">wireframe
                </option>
            </select>


        </div>
        <div class="add-line">
            <button class="add-button" type="submit">Создать Пользователя</button>
        </div>
    </form>
</div>
<div class="element_C">
    <h2>Список пользователей</h2>
    <table border="1">
        <thead>
        <tr>
            <th>ИД</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Статус</th>
            <th>Эл. почта</th>
            <th colspan="2">Операции</th>
        </tr>
        </thead>
        <tbody th:each="cur_user : ${userList}">
        <tr>
            <td th:text="${cur_user.id}"></td>
            <td th:text="${cur_user.name}"></td>
            <td th:text="${cur_user.surname}"></td>
            <td th:text="(${cur_user.goodAcc == true} ? 'действующий' : 'забанен')"></td>
            <td th:text="${cur_user.email}"></td>
            <td>
                <form action="#" th:method="GET" th:action="@{/admin/edit/{id}(id = ${cur_user.id})}">
                    <button type="submit">Редактировать</button>
                </form>
            </td>
            <td>
                <form action="#" th:method="DELETE" th:action="@{/admin/{id}(id = ${cur_user.id})}">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>