<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор Пользователей</title>
    <link href="/resources/crud.css" rel="stylesheet" type="text/css">
    <script>
        window.onscroll = function () {
            let scrolled = window.pageYOffset || document.documentElement.scrollTop;
            document.getElementById('element_B').style.position = scrolled > 100 ? 'fixed' : 'inherit';
        }
    </script>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <h4><a th:href="@{/logout}" th:text="логаут">выйти из сумрака</a></h4>
</div>
<div class="element_A">
    <h2>Редактор Пользователей</h2>
    <h3 th:text="${result}"></h3>
</div>
<div class='element_B' id='element_B'>

    <form class="add-form" th:action="@{/admin/}" th:method="POST" th:object="${userDto}">
        <div class="add-line">
            <label>Имя:&nbsp;</label>
            <p><input th:field="*{name}" type="text"/>
        </div>
        <div class="add-line">
            <label>Фамилия</label>
            <p><input th:field="*{surname}" type="text"/>
        </div>
        <div class="add-line">
            <label>Эл. почта*</label>
            <p><input th:field="*{email}" type="email" value="xx@x.x">
        </div>
        <div class="add-line">
            <label>Пароль</label>
            <p><input th:field="*{password}" type="text"/>
        </div>
        <div class="add-line">
            <label>Роль</label>
            <select th:field="*{role}">
                <option th:each="role_type : ${roles}"
                        th:text="${role_type.role}"
                        th:value="${role_type.role}">wireframe
                </option>
            </select>


        </div>
        <div class="add-line">
            <button class="add-button" type="submit">Создать Пользователя</button>
        </div>
    </form>
</div>
<div class="element_C">
    <h2>Список пользователей</h2>
    <table border="1">
        <thead>
        <tr>
            <th>ИД</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Статус</th>
            <th>Эл. почта</th>
            <th colspan="2">Операции</th>
        </tr>
        </thead>
        <tbody th:each="cur_user : ${userList}">
        <tr>
            <td th:text="${cur_user.id}"></td>
            <td th:text="${cur_user.name}"></td>
            <td th:text="${cur_user.surname}"></td>
            <td th:text="(${cur_user.goodAcc == true} ? 'действующий' : 'забанен')"></td>
            <td th:text="${cur_user.email}"></td>
            <td>
                <form action="#" th:action="@{/admin/edit/{id}(id = ${cur_user.id})}" th:method="GET">
                    <button type="submit">Редактировать</button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{/admin/{id}(id = ${cur_user.id})}" th:method="DELETE">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p>
    <a href="index.html" th:href="@{/}">Вернуться на главную</a>
</p>
</body>
</html>